body {
  background-image: url("../img/CandV.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  text-align: center;
}


#box0 {
  background-color: #3F70FF;
}

#box10 {
  background-color: grey;
}

.table.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

td {
  border: 5px solid white;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 1em;
  box-sizing: border-box;
}

#box5 {
  background-image: url("../img/redHydrant.png");
  background-size: contain;
}

#box15 {
  background-image: url("../img/redHydrant.png");
  background-size: contain;
}

.tdCol {
  border: 0px solid white;
}

.redDice{
  border: 0px solid white;
}

.player {
  border: 0px solid white;
}
.dog {
  background-image: url("../img/playerOne.png"), url("../img/playerTwo.png");
  background-size: contain, contain;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}

.dogOne {
  background-image: url("../img/playerOne.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.dogTwo {
  background-image: url("../img/playerTwo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#red_dice {
  margin: auto;
  width: 250px;
  position: absolute;
  left: 329px;
  top: 452px
}

#playerOne {
  margin: auto;
  width: 38px;
  position: absolute;
  left: 255px;
  top: 500px
} // starting position left:87px right: 736px

#playerTwo {
  margin: auto;
  width: 30px;
  position: absolute;
  left: 500px;
  top: 511px
}  // starting position left:20px right: 729px
