body {
  background-image: url("../img/CandV.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


.button-primary {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px soild #bbb;
}

h1 {
  color: #B354FF;
  font-family: Monosten, monospace;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-transform: uppercase;
  text-decoration: none;
}

#box10 {
  background-image: url("../img/jail.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.table.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  background-color: rgba(255,255,255,0.4);
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

td {
  border: 7px solid white;
  width: 147px;
  height: 147px;
  text-align: center;
  font-size: 1em;
  box-sizing: border-box;
}

#box0 {
  background-image: url("../img/doghouse.png");
  background-size: contain;
}

#box5 {
  background-image: url("../img/redHydrant.png");
  background-size: contain;
}

#box15 {
  background-image: url("../img/redHydrant.png");
  background-size: contain;
}

.object {
  /*animation-delay: 5s;
  -webkit-animation-delay: 5s;*/
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -0-transition: all 3s ease-in-out;
}

.tdCol {
  border: 0px solid white;
}

.redDice{
  border: 0px solid white;
}

.player {
  border: 0px solid white;
}
.dog {
  background-image: url("../img/playerOne.png"), url("../img/playerTwo.png");
  background-size: contain, contain;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}

.dogOne {
  background-image: url("../img/playerOne.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}


.dogTwo {
  background-image: url("../img/playerTwo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.qMark {
  background-image: url("../img/qMark.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


#messageBoard {
  font-family: "Viva Std", Times, Serif;
  font-size: 36px;
  color: black;
  font-style: normal;
}

#diceMessage {
  font-family: "Viva Std", Times, Serif;
  font-size: 40px;
  color: black;
  font-style: normal;
}

#red_dice {
  margin: auto;
  width: 250px;
  position: absolute;
  left: 329px;
  top: 435px
}

#playerOne {
  margin: auto;
  width: 58px;
  position: absolute;
  left: 255px;
  top: 500px
} // starting position left:87px right: 736px

#playerTwo {
  margin: auto;
  width: 80px;
  position: absolute;
  left: 500px;
  top: 511px
}  // starting position left:20px right: 729px
